#cloud-config
hostname: bionic-cloud
fqdn: bioniccloud1.example.com
manage_etc_hosts: true
users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin, docker
    home: /home/ubuntu
    shell: /bin/bash
    lock_passwd: false
    # ssh-authorized-keys:
    #   - ssh-rsa 
# The config key determines whether or not sshd will be configured to accept password authentication.
ssh_pwauth: true
disable_root: false
chpasswd:
  list: |
     ubuntu:123
  expire: False

# create the docker group
groups:
  - docker

# Add default auto created user to docker group
system_info:
  default_user:
    groups: [docker]

packages:
  - docker.io

growpart:
  mode: auto
  devices: ['/']
disk_setup:
  /dev/vdb:
    table_type: gpt
    layout: True
    overwrite: False
fs_setup:
  - label: DATA_XFS
    filesystem: xfs
    device: '/dev/vdb'
    partition: auto
    #cmd: mkfs -t %(filesystem)s -L %(label)s %(device)s
mounts:
  # [ /dev/vdx, /mountpoint, fstype ]
  - [ LABEL=DATA_XFS, /dataxfs, xfs ]

# 3rd col=fs type, 4th col=permissions, 5th=backup enabled, 6th=fsck order
mount_default_fields: [ None, None, "ext4", "defaults,noatime","0","2"]

# every boot
bootcmd:
    - [ sh, -c, 'echo ran cloud-init again at $(date) | sudo tee -a /root/bootcmd.log' ]

# run once for setup
runcmd:
    - [ sh, -c, 'update-grub' ]

# reboot so grub config takes affect
power_state:
  mode: reboot

# written to /var/log/cloud-init-output.log
final_message: "The system is finall up, after $UPTIME seconds"
